body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-image: url('images/imageSite.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top;
    min-height: 100vh;
}

table {
    width: 80%;
    border-collapse: collapse;
    margin: 20px 0;
}

td {
    border: 1px solid #ccc;
    padding: 10px;
    display: flex;
}

img {
    max-width: 64px;
    height: 64px;
    margin-right: 10px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.blanc {
    background: beige;
}

.gray {
    background-color: darkgrey;
}