body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-image: url('images/imageSite.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top;
    min-height: 100vh;
}

h1 {
    text-align: center;
    color: #333;
    text-shadow: 3px 3px 3px white;
    padding: 10px;
}

.accueil {
    background-color: rgba(248, 248, 248, 0.637);
    width: 80%;
    border-collapse: separate;
    margin: 20px 0px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lien-special {
    color: #e00b0b; /* ou toute autre couleur de votre choix */
    text-decoration: none; /* pour supprimer le soulignement */
}

.lien-special:hover {
    text-decoration: underline; /* souligner au survol, si souhaité */
}



p {
    font-family: 'Courier New', Courier, monospace;
}

.typewriter-text {
    font-family: 'Arial', sans-serif; /* Police plus lisible */
    font-weight: bold; /* Texte en gras */
    color: #000; /* Couleur du texte (noir ici) */
    text-shadow: 0px 0px 10px rgba(0,0,0,0.8); /* Effet lumineux */
    overflow: hidden;
    white-space: pre-wrap;
    text-align: center; /* Centrer le texte */
    animation: typing 3.5s steps(30, end);
    width: 100%; /* Assure que le texte utilise toute la largeur */
}

@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

@media screen and (min-width: 768px) {
    /* Appliquer ces styles uniquement pour les écrans de 768 pixels et plus */
    .accueil {
        width: 90%;
        margin: 20px auto;
    }
}
