body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url('/home/etudiants/info/zgueddou/local_html/SAE_Web/SaeDevWeb/images/imageMenu.jpg'); /* Remplacez ceci avec votre propre lien d'image */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
header, footer {
    background-color: #017bff;  /*Couleur bleue, changez selon vos préférences */
    color: white; /* Texte en blanc pour plus de visibilité */
    padding: 10px;
}
main {
    flex-grow: 1;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
header > div, header > nav {
    display: flex;
    align-items: center;
}
nav {
    gap: 20px;
    width: 80%;
    margin: 0 auto;
    position: sticky;
    background-color: aliceblue;
}
.login-icon {
    width: 24px;
    height: 24px;
    background-image: url('/home/etudiants/info/zgueddou/local_html/SAE_Web/SaeDevWeb/connect.png'); /* Remplacer par le chemin vers votre icône */
    background-size: cover;
}
nav ul{
    list-style-type: none;
}

nav ul li{
    float:left;
    width:30%;
    text-align: center;
    position: relative;
    padding: 0 15px;
}

nav ul::after{
    content:"";
    display: table;
    clear: both;
}
nav a{
    display: block;
    text-decoration: none;
    padding: 10px 0px;
}
nav a:hover{
    color: orange;/*lorsque l'on est sur un lien pouvant etre déroulé le lien se met en orange*/
    border-bottom: 2px solid gold;
}
/*affichage du sous menu */

.sous{
    display: none;
    box-shadow: 0px 1px 2px #CCC;/*ombre*/
    background-color: white;
    position: absolute;
    width: 100%;
    z-index: 1000;
}
nav > ul li:hover .sous{/*cible un menu sous lorsqu'on passe sur un li*/
    display: block;
}
.sous li{
    float: none;
    width: 100%;
    text-align: center;
}
.sous a{
    padding: 10px;
    border-bottom: none;
}
.sous a:hover{
    border-bottom: none;
    background-color: rgba(200,200,200,0.1);
}
.deroulant > a::after{
    content: "▼";
    font-size: 12px;
}

